body {
    background-color: lightblue;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: 'Indie Flower', cursive;
	margin: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 1vmin;
  justify-content: center;
  padding-bottom: 10px;
}

.sq {
  border: 3px solid black;
  font-size: 7vmin;
  text-align: center;
  vertical-align: middle;
}

#reset-button {
  padding: 5px 5px 5px 5px;
  text-align: center;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: red
}

h1 {
  font-size:70px;
  background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  animation: move 35s linear infinite;
}

@keyframes move {
  to {
    background-position: 4500vh;
  }
}
